body{
	background:#000066;
}

.flex-container{
	width:100%;
	min-height:300px;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
}

header{
	font-family:Helvetica;
	width:100%;
	border:1px solid white;
	text-align:center;
	background:#000066;
	color:white;
	font-size:75px;
}

footer{
	position:fixed;
	left:0;
	bottom:0;
	font-family:Helvetica;
	width:100%;
	text-align:center;
	background:#000066;
    color:white;
    padding:20px;
    font-size:15px;
}

.flex-container .mainContent{
	background:white;
	font-family:Helvetica;
	width:75%;
	border:1px solid white;
	text-align:center;
	color:black;
	font-size:30px;
}

.nav{
	border:1px solid white;
	background:#000066;
	color:white;
	-ms-flex:1;
	flex:1;
}

.btn{
	font-family:Helvetica;
    text-align:center;
    width:20%;
	font-size:30px;
	border:1px solid white;
	padding:20px;
	text-shadow:2px 2px 4px #000000;
	
}

.btn a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	color:white;
}